<div class="popup" >
    <div class="add-pet-container">
        
        <mat-card class="add-pet-card card-global">
            <div class="close-pop" (click)="invertShowPopupModifyUser.emit();">
                <svg width="74" height="74" viewBox="0 0 74 74" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.3335 0.333335C9.48054 0.333335 8.62669 0.658231 7.97669 1.3099L1.31002 7.97656C0.00668609 9.2799 0.00668609 11.3901 1.31002 12.6901L25.6199 37L1.31002 61.3099C0.00668609 62.6132 0.00668609 64.7234 1.31002 66.0234L7.97669 72.6901C9.28002 73.9934 11.3902 73.9934 12.6902 72.6901L37.0001 48.3802L61.31 72.6901C62.61 73.9934 64.7236 73.9934 66.0236 72.6901L72.6902 66.0234C73.9936 64.7201 73.9936 62.6099 72.6902 61.3099L48.3803 37L72.6902 12.6901C73.9936 11.3901 73.9936 9.27656 72.6902 7.97656L66.0236 1.3099C64.7202 0.00656402 62.61 0.00656402 61.31 1.3099L37.0001 25.6198L12.6902 1.3099C12.0386 0.658231 11.1864 0.333335 10.3335 0.333335Z" fill="#FFCF59"/>
                </svg>
            </div>
          <mat-card-content>
            <form (ngSubmit)="onSubmit()" class="add-pet-form" autocomplete="off">
              <mat-form-field appearance="outline">
                <mat-label>First Name</mat-label>
                <input matInput type="text" [(ngModel)]="user.firstName" name="firstName" required>
              </mat-form-field>
              <div *ngIf="isErrorForm.firstName" class="error-message">{{ isErrorForm.firstName }}</div>

              <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput type="text" [(ngModel)]="user.lastName" name="lastName" required>
              </mat-form-field>
              <div *ngIf="isErrorForm.lastName" class="error-message">{{ isErrorForm.lastName }}</div>

              <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type="text" [(ngModel)]="user.email" name="email" required>
              </mat-form-field>
              <div *ngIf="isErrorForm.email" class="error-message">{{ isErrorForm.email }}</div>

              <mat-form-field appearance="outline">
                <mat-label>Birthdate</mat-label>
                <input matInput type="date" [(ngModel)]="user.birthDate" name="birthDate" required>
              </mat-form-field>
              <div *ngIf="isErrorForm.birthDate" class="error-message">{{ isErrorForm.birthDate }}</div>

              <mat-form-field appearance="outline">
                <mat-label>PhoneNumber</mat-label>
                <input matInput type="text" [(ngModel)]="user.phoneNumber" name="phoneNumber" required>
              </mat-form-field>
              <div *ngIf="isErrorForm.phoneNumber" class="error-message">{{ isErrorForm.phoneNumber }}</div>

              <mat-form-field appearance="outline">
                <mat-label>Image URL</mat-label>
                <input matInput type="text" [(ngModel)]="user.imageUrl" name="imageUrl" required>
              </mat-form-field>
              <div *ngIf="isErrorForm.imageUrl" class="error-message">{{ isErrorForm.imageUrl }}</div>
                <div>
                    <button mat-flat-button class="add-pet-button" type="submit">Update</button>
                </div>
            </form>
          </mat-card-content>
        </mat-card>
    </div>
</div>
