<h2 mat-dialog-title class="dialog-title">Add Pet</h2>
<mat-dialog-content>
  <form [formGroup]="petForm" class="form-container">

    <!-- Name Field -->
    <label for="name">Name</label>
    <mat-form-field appearance="fill" class="full-width">
      <input id="name" matInput formControlName="name" placeholder="Your First Name" required>
    </mat-form-field>

    <!-- Species Field -->
    <label for="species">Race</label>
    <mat-form-field appearance="fill" class="full-width">
      <mat-select id="species" formControlName="species" placeholder="Your First Name" required>
        <mat-option value="Cat">Cat</mat-option>
        <mat-option value="Dog">Dog</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Weight Field -->
    <label for="weight">Weight (kg)</label>
    <mat-form-field appearance="fill" class="full-width">
      <input id="weight" matInput type="number" formControlName="weight" placeholder="Your First Name" required>
    </mat-form-field>

    <!-- Age Field -->
    <label for="age">Age</label>
    <mat-form-field appearance="fill" class="full-width">
      <input id="age" matInput type="number" formControlName="age" placeholder="Your First Name" required>
    </mat-form-field>

    <!-- Breed Field -->
    <label for="breed">Species</label>
    <mat-form-field appearance="fill" class="full-width">
      <input id="breed" matInput formControlName="breed" placeholder="Your First Name" required>
    </mat-form-field>

  </form>
</mat-dialog-content>

<mat-dialog-actions class="dialog-actions">
  <button mat-button class="button-photo">Add Photo</button>
  <button mat-raised-button color="accent" (click)="onSubmit()" [disabled]="!petForm.valid" class="button-submit">Add Pet</button>
</mat-dialog-actions>
