.notification-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
  background:  #FFCF59;
}

.mat-toolbar {
  width: 100%;
  justify-content: center;
  background:  #FFCF59;
}

.notifications-list {
  width: 100%;
  margin-top: 1rem;
}

.notification-card {
  margin-bottom: 15px;
}

.notification-card mat-card-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.notification-card p {
  font-size: 14px;
  margin: 0;
}

.notification-card small {
  color: gray;
}
