<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile *ngFor="let device of devices">
      <mat-card class="device-card">
        <mat-card-header>
          <mat-card-title>{{ device.name }}</mat-card-title>
          <mat-card-subtitle>{{ device.serialNumber }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="device-stats">
            <div class="stat">
              <mat-icon>battery_std</mat-icon>
              <span>Battery: {{ device.battery }}%</span>
            </div>
            <div class="stat">
              <mat-icon>restaurant</mat-icon>
              <span>Food: {{ device.food }}%</span>
            </div>
            <div class="stat">
              <mat-icon>local_drink</mat-icon>
              <span>Water: {{ device.water }}%</span>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>