<div class="sidebar"  [ngClass]="{ 'active': showSidebarResponsive }">
  <p (click)="closeSidebar.emit()" class="close-menu">Close</p>
  <span class="title">Masticat</span>
  <div class="device-list">
    <div
      class="device-item"
      *ngFor="let device of devices; let i = index"
      (click)="changeDevice.emit(device)"
      [ngClass]="{ 'active': selectedDevice?.uuid === device.uuid }"
    >
      <p><strong>Device {{ i + 1 }}</strong></p>
      <p>#{{ device.serialNumber }}</p>
    </div>
  </div>
</div>

