<mat-toolbar color="primary" class="custom-toolbar">
  <span (click)="goToDashboard()" class="toolbar-title">Masticat</span>
  <button mat-menu-item class="icon-button">
    <svg width="27" height="24" viewBox="0 0 27 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M19.8889 17L25 12M25 12L19.8889 7M25 12H7.11111M14.7778 17V18.25C14.7778 20.3211 13.0616 22 10.9444 22H5.83333C3.71625 22 2 20.3211 2 18.25V5.75C2 3.67894 3.71625 2 5.83333 2H10.9444C13.0616 2 14.7778 3.67894 14.7778 5.75V7" stroke="#7C7C8D" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </button>
</mat-toolbar>


<div class="profile-container">
  <div class="profile-header">
    <!-- Imagen de perfil con una imagen por defecto -->
    <img src="{{user.imageUrl}}" alt="User photo" class="profile-photo">
    <div class="profile-info">
      <!-- Texto por defecto para el nombre y el email -->
      <h1>{{user.firstName + user.lastName}}</h1>
      <p>{{user.email}}</p>
    </div>
    <button mat-raised-button color="primary" class="edit-btn" (click)="invertShowPopupModifyUser()">Edit</button>
  </div>

  <div class="profile-form">
    <div class="form-group">
      <div class="form-field">
        <label>First Name</label>
        <input matInput value="{{user.firstName}}" disabled>
      </div>
      <div class="form-field">
        <label>Last Name</label>
        <input matInput value="{{user.lastName}}" disabled>
      </div>
    </div>

    <div class="form-group">
      <div class="form-field">
        <label>Email</label>
        <input matInput value="{{user.email}}" disabled>
      </div>
      <div class="form-field">
        <label>Phone Number</label>
        <input matInput value="{{user.phoneNumber}}" disabled>
      </div>
    </div>

    <div class="form-group">
      <div class="form-field">
        <label>Birthdate</label>
        <input matInput value="{{getFormatDate(user.birthDate)}}" disabled>
      </div>
    </div>
    
  </div>

</div>

<app-edit-user *ngIf="showPopupEditUser" (invertShowPopupModifyUser)="invertShowPopupModifyUser()" (updatedUser)="updatedUser($event)" [selectedUser]="user"></app-edit-user>
