<mat-toolbar color="primary" class="custom-toolbar">
  <span (click)="goToDashboard()" class="toolbar-title">Masticat</span>
  <button mat-menu-item class="icon-button">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>


<div class="profile-container">
  <div class="profile-header">
    <!-- Imagen de perfil con una imagen por defecto -->
    <img src="{{user.imageUrl}}" alt="User photo" class="profile-photo">
    <div class="profile-info">
      <!-- Texto por defecto para el nombre y el email -->
      <h1>{{user.firstName + user.lastName}}</h1>
      <p>{{user.email}}</p>
    </div>
    <button mat-raised-button color="primary" class="edit-btn" (click)="invertShowPopupModifyUser()">Edit</button>
  </div>

  <div class="profile-form">
    <div class="form-group">
      <div class="form-field">
        <label>First Name</label>
        <input matInput value="{{user.firstName}}" disabled>
      </div>
      <div class="form-field">
        <label>Last Name</label>
        <input matInput value="{{user.lastName}}" disabled>
      </div>
    </div>

    <div class="form-group">
      <div class="form-field">
        <label>Email</label>
        <input matInput value="{{user.email}}" disabled>
      </div>
      <div class="form-field">
        <label>Phone Number</label>
        <input matInput value="{{user.phoneNumber}}" disabled>
      </div>
    </div>

    <div class="form-group">
      <div class="form-field">
        <label>Birthdate</label>
        <input matInput value="{{getFormatDate(user.birthDate)}}" disabled>
      </div>
    </div>
    
  </div>

</div>

<app-edit-user *ngIf="showPopupEditUser" (invertShowPopupModifyUser)="invertShowPopupModifyUser()" (updatedUser)="updatedUser($event)" [selectedUser]="user"></app-edit-user>
