<div class="dashboard-container">
  <!-- Sidebar para la lista de dispositivos -->
  <div class="sidebar">
    <span class="title">Masticat</span>
    <div class="device-list">
      <div class="device-item" *ngFor="let device of devices">
        <p>{{ device.name }}</p>
        <p>{{ device.id }}</p>
      </div>
    </div>
  </div>

  <!-- Contenido principal del dashboard -->
  <div class="main-content">
    <mat-toolbar color="primary" class="custom-toolbar">
      <span></span>
      <span class="spacer"></span>
      <button mat-menu-item (click)="openNotification()" class="icon-button">
        <mat-icon>notifications</mat-icon>
      </button>

      <button mat-icon-button [routerLink]="['/profile']" class="icon-button">
        <mat-icon>account_circle</mat-icon>
      </button>

      <button mat-menu-item [routerLink]="['/login']" class="icon-button">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>

    <div class="content">
      <div class="stats-container">
        <mat-card class="stat-card battery">
          <mat-icon>battery_charging_full</mat-icon>
          <h2>Batería</h2>
          <div class="progress-circle">
            <svg viewBox="0 0 36 36" class="circular-chart">
              <path class="circle-bg" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
              <path class="circle" stroke-dasharray="44, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
            </svg>
            <span class="percentage">44%</span>
          </div>
        </mat-card>

        <mat-card class="stat-card food">
          <mat-icon>restaurant</mat-icon>
          <h2>Comida</h2>
          <div class="progress-circle">
            <svg viewBox="0 0 36 36" class="circular-chart">
              <path class="circle-bg" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
              <path class="circle" stroke-dasharray="50, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
            </svg>
            <span class="percentage">50%</span>
          </div>
        </mat-card>

        <mat-card class="stat-card water">
          <mat-icon>opacity</mat-icon>
          <h2>Agua</h2>
          <div class="progress-circle">
            <svg viewBox="0 0 36 36" class="circular-chart">
              <path class="circle-bg" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
              <path class="circle" stroke-dasharray="9, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
            </svg>
            <span class="percentage">9%</span>
          </div>
        </mat-card>

        <mat-card class="stat-card add-device" (click)="addDevice()">
          <mat-icon>add</mat-icon>
          <h2>Agregar Dispositivo</h2>
        </mat-card>
      </div>

      <mat-card class="feeding-habits">
        <mat-card-header>
          <mat-card-title>Hábitos de Alimentación</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="chart-container">
            <div class="placeholder-chart"></div>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card class="live-cam">
        <mat-card-header>
          <mat-card-title>Cámara en Vivo</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <img [src]="gifPath" alt="Transmisión de cámara en vivo">
        </mat-card-content>
      </mat-card>

        <mat-card class="add-pet" (click)="openAddPetDialog()">
          <mat-icon>add</mat-icon>
          <h2>Agregar Mascota</h2>
        </mat-card>

        <mat-card class="pet-card" *ngFor="let pet of pets">
          <div class="image-container">
            <div class="pet-species">
            </div>
            <div class="pet-info">
              <h3>{{ pet.name }}</h3>
              <p>{{ pet.age }} years old</p>
              <p>{{ pet.weight }} KG</p>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
