.dashboard-container {
    .spacer {
      flex: 1 1 auto;
    }
  
    .content {
      padding: 2rem;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 2rem;
  
      mat-card {
        height: 100%;
  
        mat-card-header {
          margin-bottom: 1rem;
        }
  
        mat-card-title {
          font-size: 1.5rem;
          color: #3f51b5;
        }
  
        mat-card-content {
          overflow-y: auto;
          max-height: 400px;
        }
  
        mat-card-actions {
          padding: 1rem;
        }
      }
    }
  }