@use '@angular/material' as mat;

// Definir colores personalizados
$primary-color: #ffc107; // Color ámbar
$primary-color-light: #fff8e1;
$primary-color-dark: #ffa000;
$text-color-on-primary: rgba(0, 0, 0, 0.87);

span {
  font-family: 'Satisfy', cursive;
  font-weight: 400;
  font-size: 40px;
  line-height: 57.62px;
  letter-spacing: -0.29px;
  text-align: center;
  cursor: pointer;
  color: #1e0e62;
}
.icon-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px;
  background-color: transparent;
  cursor: pointer;
  justify-content: space-between;

  mat-icon {
    font-size: 26px;
    image-orientation: from-image;
    color: #000;
    border-radius: 50%;
  }
  &:hover {
    border-color: #FFA500;
  }
}

.dashboard-container {
  display: flex;
  min-height: 100vh;

  .sidebar {
    width: 180px;
    background-color: $primary-color;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .device-list {
      flex-grow: 1;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      gap: 10px;

      .device-item {
        background-color: white;
        padding: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        font-size: 14px;
        color: black;

        p {
          margin: 0;
        }
      }
    }
  }

  .main-content {
    flex-grow: 1;
    background-color: white;
    padding: 20px;

    .custom-toolbar {
      background-color: white;
      color: $text-color-on-primary;
    }

    .spacer {
      flex: 1 1 auto;
    }

    .content {
      padding: 20px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 20px;
      overflow-y: auto;
    }

    .stats-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      gap: 20px;
    }

    .stat-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: box-shadow 0.3s ease-in-out;

      &:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      }
    }

    .progress-circle {
      position: relative;
      width: 100px;
      height: 100px;
    }

    .circular-chart {
      display: block;
      margin: 10px auto;
      max-width: 80%;
      max-height: 250px;
    }

    .circle-bg {
      fill: none;
      stroke: #eee;
      stroke-width: 3.8;
    }

    .circle {
      fill: none;
      stroke-width: 2.8;
      stroke-linecap: round;
      animation: progress 1s ease-out forwards;
    }

    @keyframes progress {
      0% {
        stroke-dasharray: 0 100;
      }
    }

    .percentage {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 1.5em;
      font-weight: bold;
    }

    .battery .circle {
      stroke: #4caf50;
    }

    .food .circle {
      stroke: #ff9800;
    }

    .water .circle {
      stroke: #2196f3;
    }

    .feeding-habits,
    .live-cam {
      grid-column: span 2;
    }

    .placeholder-chart {
      width: 100%;
      height: 200px;
      background-color: #f0f0f0;
    }

    .pets-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 20px;
    }

    .pet-card,
    .add-pet {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
    }

    .pet-card img {
      width: 100%;
      height: 150px;
      object-fit: cover;
      border-radius: 8px;
    }

    .pet-info {
      text-align: center;
      margin-top: 10px;
    }

    .add-device,
    .add-pet {
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: $primary-color-light;
      }
    }

    .live-cam img {
      width: 100%;
      height: auto;
      max-height: 300px;
      object-fit: cover;
      border-radius: 4px;
    }
  }
}


.pets-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.pet-card {
  position: relative;
  width: 100%;
  max-width: 400px;
  aspect-ratio: 4 / 3;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  .image-container {
    position: relative;
    width: 100%;
    height: 100%;
    background: url('/assets/cardluna.jpeg') no-repeat center center;
    background-size: cover;
    border-radius: 12px;

    .pet-info {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 10px;
      background-color: rgba(255, 255, 255, 0.5);
      display: flex;
      justify-content: space-between;
      align-items: center;

      h3 {
        margin: 0;
        font-size: 1.2em;
        font-weight: bold;
        color: #1e0e62;
      }

      p {
        margin: 0;
        font-size: 0.9em;
        color: #1e0e62;
      }
    }

    .pet-species {
      position: absolute;
      top: 10px;
      left: 10px;
      background-color: rgba(255, 255, 255, 0.7);
      padding: 5px 10px;
      border-radius: 8px;
      font-size: 1em;
      color: #1e0e62;
    }
  }
}



